<div class="movie-card">
    <div class="movie-card__container d-flex d-flex--align-center d-flex--direction-column full-width">
        <div class="movie-card__hero d-flex d-flex--direction-column full-width">
            <div class="movie-card__details d-flex d-flex--align-center d-flex--justify-center d-flex--direction-column" [ngStyle]="{'background': 'url(' + currentMovie?.img + ') 100% 50% no-repeat'}">
                <h4 class="movie-card__title1">{{ currentMovie?.name }}</h4>
                <div class="movie-card__star-rating d-flex d-flex--align-center d-flex--justify-center">
                    {{ currentMovie?.rate }}
                </div>
                <!-- movie-card__star-rating -->
                <span class="movie-card__likes d-flex d-flex--align-center d-flex--justify-center">{{ currentMovie?.likes }} likes</span>
            </div>
            <!-- end details -->
        </div>
        <!-- end hero -->
        <div class="movie-card__description d-flex d-flex--align-start d-flex--direction-column">
            <div class="movie-card__column1 d-flex d-flex--align-center">
                <span class="movie-card__tag d-flex d-flex--align-center d-flex--justify-center" *ngFor="let genre of currentMovie?.genres">{{ genre }}</span>
                <!-- movie-card__tag -->
            </div>
            <!-- end movie-card__column1 -->
            <div class="movie-card__column2 d-flex d-flex--align-center">
                <p class="movie-card__movie-description">{{ currentMovie?.description }}</p>
                <!-- movie-card__movie-description -->
            </div>
            <!-- end movie-card__column2 -->
            <button class="movie-card__go-back d-flex d-flex--align-center d-flex--justify-center" (click)="returnToPreviousPage()">Return to previous page</button>
        </div> <!-- end movie-card__description -->
    </div> <!-- end movie-card__container -->
</div>
<!-- end movie-card -->
