$starColour: #16a085;
$starHoverColour: #1abc9c;

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;

  &__container {
    margin: 0 auto;
    max-width: 780px;
    width: 100%;
    height: 640px;
    background: #F0F0ED;
    border-radius: 5px;
    position: relative;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__hero {
    height: 342px;
    margin:0;
    position: relative;
    overflow: hidden;
    z-index:1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__cover {
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 2;
  }

  &__details {
    height: 100%;
    width: 100%;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__title1 {
    color: #fff;
    font-size: 4.4rem;
    line-height: 5.6rem;
    margin-bottom: 13px;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
    max-width: 80%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__span {
    position: absolute;
    top: 3px;
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 4px;

  }

  &__title2 {
    color: #C7C1BA;
    font-size: 2.3rem;
    line-height: 2.7rem;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__likes {
    width: fit-content;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;

    &:before {
      content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
      position: relative;
      top: 2px;
      padding-right: 7px;
    }
  }

  &__description {
    bottom: 0;
    min-height: 200px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #B1B0AC;
    padding: 20px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__column1 {
    width: 100%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__tag {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.4rem;
    margin-right: 5px;
    line-height: 3.5rem;
    cursor: pointer;
    width: fit-content;
    min-width: 60px;
    -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
        transition: all .3s ease;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;

    &:hover {
      background: #fc4d55;
      color: #fff;
    }
  }

  &__column2 {
    width: 100%;
    -webkit-box-shadow: none;
      -moz-box-shadow: none;
        box-shadow: none;
  }

  &__star-rating {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #fff;
    height: 20px;
    width: 40px;
    background: #fc4d55;
    margin: 15px 0;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__go-back {
    height: 45px;
    width: fit-content;
    cursor: pointer;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
        border-radius: 5px;
    background: #fff;
    color: #B1B0AC;
    font-size: 1.4rem;
    line-height: 1.7rem;
    border: none;
    -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
        transition: all .3s ease;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;

    &:hover {
      background: #fc4d55;
      color: #fff;
    }
  }
}

