// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans', sans-serif;

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

.movie {

  &__duration {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    width: 100%;
  }

  &__rating {
    height: 20px;
    width: 40px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    background: #fc4d55;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__link {
    text-decoration: none;
  }

  &__card {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 25%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__wrapper {
    background-color: $white;
    min-height: 360px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 19px 38px rgba($black, .3), 0 15px 12px rgba($black, .2);
      -moz-box-shadow: 0 19px 38px rgba($black, .3), 0 15px 12px rgba($black, .2);
        box-shadow: 0 19px 38px rgba($black, .3), 0 15px 12px rgba($black, .2);

    &:hover {

      .movie__data {
        -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
            transform: translateY(0);
      }
    }
  }

  &__data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
      -moz-transform: translateY(calc(70px + 1em));
        transform: translateY(calc(70px + 1em));
    -webkit-transition: transform .3s;
      -moz-transition: transform .3s;
        transition: transform .3s;
  }

  &__content {
    padding: 1em;
    position: relative;
    z-index: 1;
  }

  &__genres {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    height: 70px;
    margin: 0;
  }
}

.movies {

  &__container {
    width: 100%;
    margin: 50px auto 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__filters {
    padding: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__search-field {
    height: 40px;
    padding: 0 15px;
    background: #fc4d55;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-right: 25px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  &__genres-filter {
    height: 40px;
    border: none;
    background: #fc4d55;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem
  }

  &__genres-filter-option {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem
  }
}


.movie__card {

  .movie__header {
    @include cf;
    color: $white;
    padding: 1em;
  }

  .movie__data {
    color: $white;
    -webkit-transform: translateY(calc(70px + 7em));
      -moz-transform: translateY(calc(70px + 7em));
        transform: translateY(calc(70px + 7em));
  }

  .movie__title {

    .movie__link {
      color: $white;
    }
  }

  .movie__button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 1.4rem;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;

    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
          transform: translate(0, -50%);
      -webkit-transition: all .3s;
        -moz-transition: all .3s;
          transition: all .3s;
    }

    &:hover {

      &::after {
        -webkit-transform: translate(5px, -50%);
          -moz-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1100px) {
  .movie {

    &__card {
      width: 33.3%;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .movie {

    &__card {
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .movie {

    &__card {
      width: 100%;
    }
  }
}