<div class="movies__filters d-flex d-flex--align-center">
    <input class="movies__search-field" #searchInput [ngModel]='currentSearchCriteria' (ngModelChange)='changeSearchCriteria($event)' placeholder="Search">
    <select class="movies__genres-filter" #genres (change)="changeGenre(genres.value)">
        <option class="movies__genres-filter-option" value="">All</option>
        <option class="movies__genres-filter-option" value="adventure">Adventure</option>
        <option class="movies__genres-filter-option" value="comedy">Comedy</option>
        <option class="movies__genres-filter-option" value="crime">Crime</option>
        <option class="movies__genres-filter-option" value="action">Action</option>
        <option class="movies__genres-filter-option" value="biography">Biography</option>
        <option class="movies__genres-filter-option" value="history">History</option>
        <option class="movies__genres-filter-option" value="drama">Drama</option>
        <option class="movies__genres-filter-option" value="esport">Esport</option>
        <option class="movies__genres-filter-option" value="mystery">Mystery</option>
        <option class="movies__genres-filter-option" value="scifi">scifi</option>
    </select>
</div>
<div class="movies__container d-flex d-flex--align-center d-flex--justify-start full-width d-flex--flex-wrap">
    <div class="movie__card d-flex d-flex--direction-column" *ngFor="let movie of moviesMatchingCriteria" [routerLink]="['/movies/' + movie?.id]">
        <div class="movie__wrapper" [ngStyle]="{'background': 'url(' + movie?.img + ') no-repeat center center', 'background-size': 'cover'}">
            <div class="movie__header d-flex d-flex--align-center d-flex--justify-between">
                <span class="movie__duration d-flex d-flex--align-center">{{ movie?.length }}</span>
                <!-- movie__duration -->
                <span class="movie__rating d-flex d-flex--align-center d-flex--justify-center">{{ movie?.rate }}</span>
                <!-- movie__rating -->
            </div>
            <!-- header -->
            <div class="movie__data">
                <div class="movie__content">
                    <span class="movie__genres">{{ movie?.genres | join }}</span>
                    <h1 class="movie__title"><a class="movie__link" [routerLink]="['/movies/' + movie?.id]">{{ movie?.name }}</a></h1>
                    <p class="movie__text">{{ movie?.description | truncate : 140 : false : '...' }}</p>
                    <a [routerLink]="['/movies/' + movie?.id]" class="movie__button">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>