/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/fonts.scss';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html {
  font-size: 62.5%;
}

body {
  font-size: 100%;
  font-family: 'Lato';
  font-weight: 400;
  margin: 0;
  background: #282d33;
}

/* ==========================================================================
General styles
=============================================================================
*/

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  &--align-center {
    -webkit-align-items: center;
    align-items: center;
  }

  &--align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  &--align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  &--justify-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  &--justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  &--justify-end {
    -webkit-justify-content: flex-start;
    justify-content: flex-end;
  }

  &--justify-between {
    -webkit-justify-content: space-between;
      justify-content: space-between;
  }

  &--direction-column {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  &--flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.full-width {
  width: 100%;
}


/* ==========================================================================
General styles
=============================================================================
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  &__circle {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    -webkit-animation: spin 2s ease infinite;
      -moz-animation: spin 2s ease infinite;
        animation: spin 2s ease infinite;

    &:first-child {
      background: #19A68C;
      animation-delay: -1.5s
    }

    &:nth-child(2) {
      background: #F63D3A;
      animation-delay: -1s
    }

    &:nth-child(3) {
      background: #FDA543;
      animation-delay: -0.5s
    }

    &:last-child {
      background: #193B48;
    }
  }
}

@keyframes spin {

  0%, 100%{
    -webkit-transform:translate(0);
      -moz-transform:translate(0);
        transform:translate(0);
  }
  25% {
    -webkit-transform:translate(160%);
      -moz-transform:translate(160%);
        transform:translate(160%);
  }
  50% {
    -webkit-transform:translate(160%, 160%);
      -moz-transform:translate(160%, 160%);
        transform:translate(160%, 160%);
  }
  75% {
    -webkit-transform:translate(0, 160%);
      -moz-transform:translate(0, 160%);
        transform:translate(0, 160%);
  }
}